@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



:root {
  --primary-title-font: 'Barlow Condensed', sans-serif;
  --paragraph-font:'Lobster Two', cursive;
  --sem-font:'Anton', sans-serif;
}
*{
  margin: 0;
  padding: 0;
}

body {
  /* background-color:#f6f2f1; */
  color: #333333;
  height: 100%;
  min-height: 100%;
  margin-top: 4rem;
}


ul {
  margin: 0;
}

.logo{
  width: 180px;
  height: 40px;
}
.main-body {
  margin: 0;
}
.site-header .navbar-nav .nav-link {
  color: #1c1d1f;
  margin-right: 0.5em;
  font-size: 1.25em;
  font-family: var(--paragraph-font);
}

.site-header .navbar-nav .nav-link:hover {
  border-bottom: 1px solid blue;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}



.title h1{
  font-size: 3em;
  color: black;
  font-weight: 900;
}
.title h5{
  font-size: 1.5em;
  font-weight: 900;
}
.top-title{
  font-size: clamp(1.5em,5vh,3em);
  font-family: var(--sem-font);

}
.title p{
  font-weight: 900;
  font-size: 1.25em;
  letter-spacing: 2px;
  color: black;
  font-family:var(--paragraph-font);
}
nav{
  background-color: #5580E9;
}
.files {
  background-color: rgb(175, 195, 212);
}
.sem-content {
  width: auto;
}

.author {
  text-decoration: none;
}
.footer {
  background-color: rgb(209, 157, 229);
  position: absolute;
  width: 100%;
  bottom: 0;
}
.sem-content:hover {
  color: rgb(96, 152, 224);
}
#actual-links{
  display: block;
}
#actual-links-question,
#actual-links-syllabus,
#actual-links-answer
{
  display: none;
}
.background-image{
  height: 80vh;
  width: 80%;
}

.front-page-img{
  margin: 0;
  padding: 0;
  position: relative;
}
.front-page-img .title{
  position: absolute;
  text-align: center;
  color: black;
 
}
.title form{
  display: flex;
  justify-content: center;
}
.title input[type="search"]{
  margin-top: 1em;
  width: 60%;
  padding: 0.5em;
  border-radius: 10px;
  border: none;
}
button[type="submit"]{
  text-indent: -999px;
  overflow: hidden;
  width: 30px;
  padding: 0;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 1;
}
button[type="submit"]:focus
 {
  outline: none;
}
input[type="search"]:focus{
  border: none;
  outline: none;
}
form .fa{
  background-color: black;
  font-size: 0.5em;
  
}
.fa-search{
  color: white;
}
.error-title h1,
.error-div h1{ 
  font-family: var(--paragraph-font);
}
.error-div{
  display: flex;
  flex-direction: column;
}
.box,
.sem-box {
  border-radius: 15px;
  
}

.semester-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  gap: 5em;
  margin: 1em;
}

@keyframes card-animation {
  0% {
    opacity: 0;
  }
  50%{opacity: 0.5;}
  100% {opacity: 1;}
}
.semester-box .card{
  border: 0;
  animation-name: card-animation;
  animation-duration:1s ;
  border-radius:10px ;
  box-shadow: 7px 10px 5px rgb(223, 222, 222);
  background-color: #C1C8E4;
}
.sem-box .card{
  border: 0;
  animation-name: card-animation;
  animation-duration:1s ;
  /* box-shadow: 0px 10px 10px rgb(223, 222, 222); */
  border-radius:10px ;
  background-color: #C1C8E4;



}
.card:hover{
  cursor: pointer;
  transition: 0.5s ease;
  transform: scaleX(110%);
  transform: scaleY(105%);
}
.sem-box .card:hover{
  cursor: pointer;



}

.content-section {
  padding: 10px 20px;
  border-radius: 15px;
}


.box .fa:hover{
  opacity: 0.5;
}
#arrow-down ,
#arrow-down-question,
#arrow-down-syllabus{
  display: block;
}

.article-title {
  text-decoration: none;
}
.checked {
  color: orange;
}

a.article-title:hover {
  opacity: 0.8;
}
.glyphicon-log-in {
  color: black;
  width: 100px;
  height: 100px;
}
.article-content {
  white-space: pre-line;
  font-size: 1em;
  font-weight: 200;
}

.article-img {
  border-radius: 50%;
  height: 65px;
  width: 65px;
  margin-right: 20px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  justify-content: space-between;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
.difficulty {
  display: flex;
  justify-content: start;
  margin: 0;
  padding: 0;
}
.sub-difficulty {
  display: flex;
  justify-content: end;
  padding: 0;
}

.other-sem h1{
   font-size: 2em;
   font-family: var(--sem-font)
}
.other-sem a{
  color: black;
  font-weight: 600;
}
.other-sem li{
  margin-top: 1em;
}
.other-sem ul{
  list-style: none;
}
.note-detail {
  background-color: #c5c0bd;
}
.note-title {
  font-size: 1.5em;
  font-weight: 800;
}

.file-name {
  text-decoration: none;
}
.sem-title {
  font-size: clamp(1em, 3.25vh,3em);
  font-weight: 700;
  font-family: var(--primary-title-font);
}

.semester-desc{
  padding-top: 5px;
  font-size: 0.85em;
  letter-spacing: 0.5px;
}

/*  f*/

.note-file a {
  text-decoration: none;
}
/* trending box  */
.trending-title {
  font-size: 1.5em;
  font-family: var(--title-font);
  font-weight: 800;
}
.counter-span {
  color: grey;
  font-weight: 900;
  font-size: 1.5em;
  padding-right: 1em;
}

/* -------------- */
/*  for blog list page */
.blog-main-page {
  margin: 0;
}
.blog-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 50vh;
  background-color: rgb(192, 192, 245);
}
.card-title {
  font-weight: 800;
}
.card-sub-title {
  font-family: cursive;
}
.media {
  margin-top: 10px;
}
.blog-article-img {
  width: 30px;
  height: 30px;
}
.blog-list-article-metadata {
  justify-content: start;
}
.blog-list-author {
  align-items: center;
  font-size: 0.85em;
}
.blog-list-article-metadata a:hover {
  text-decoration: none;
}
.blog-article-title {
  text-decoration: none;
  color: black;
  font-size: 0.75em;
  font-weight: 900;
}
.blog-article-subtitle {
  color: rgb(80, 78, 78);
  font-size: 0.85em;
  font-weight: 700;
}


/* ------------------- */
/* blog page*/
.time {
  display: flex;
  justify-content: end;
}
/* is for blog detial */
.blog-media {
 margin-left: 10em;
 margin-right: 10em;
}
.related-post {
  border-left: 1px solid rgb(216, 212, 212);
}

.name-date {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-container .fa {
  color: grey;
  padding: 1em;
}
main{
  position: relative;
  min-height: 70vh;
}
/* footer */
.page-footer{
  position: absolute;
  width: 100%;
  margin-top: 5em;
  background-color: #C1C8E4;
}

.footer-right{
  display: flex;
  flex-direction: column;
}
.footer-nav a{ 
  padding-top: 1em;
  text-decoration: none;
  padding: 0.5em;
  color: rgb(118, 113, 113);
}
.footer-title {
  font-family: var(--primary-title-font);
  font-size: clamp(0.5em, 3vh, 2.5em);
  font-weight: 900;
 
}
.footer-right p{
  font-family: var(--paragraph-font);
}
.quick-links ul{
  padding-top: 1em;
  padding-left: 1em;
  list-style: none;
}
.social-media a{
  text-decoration: none;
}
.social-media .fa{
  color: black;
  font-size: 1em;
  padding: 0.5em;
}
.social-media .fa:hover{
  opacity: 0.8;
}



@media screen and (max-width:1450px) {
  .difficulty{
    display: block;
  }
  .difficulty p{
    margin-bottom: 0;
  }
  
}
@media screen and (max-width:850px) {
 
  .semester-box{
    margin: 0;
  }
  .semester-box .card{
    width: 100%;
  }
  .difficulty{
    display: block;
  }
  .difficulty p{
    margin-bottom: 0;
  }
  
  
}

@media screen and (max-width:765px) {
  .semester-box{
    margin: 0;
    gap: 1em;
  }
  .difficulty{
    display: flex;
  }
  .difficulty p{
    margin-bottom: 0;
  }
  
  
}

@media screen and (max-width: 450px) {
  /* navbar */
  .logo{
    width: 100%;
    height: 30px;
  }
  .navbar-toggler-icon{
    font-size: 0.65em;
  }
  .nav-link{
    font-size: 0.85em;
  }
  .front-page-img img{
    height: 50vh;
    width: 100%;
  }
  .front-page-img h1{
    font-size: 1.5em;
  }
  .front-page-img p{
    font-size: 1em;
  }

  .content h4 {
    font-size: 1.35rem;
  }
  .difficulty {
    width: 100%;
    font-size: 0.85em;
    justify-content: flex-start;
  }
  .sub-intro {
    font-size: 1.2em;
  }
  .semester-box .card{
    border: 0;
    animation-name: card-animation;
    animation-duration:1s ;
    border-radius:10px ;
    box-shadow: 0px 2px 5px rgb(223, 222, 222);
  }
  .sem-box .sem-title {
    font-size: 1.15em;
    padding-bottom: 0em;
    font-weight: 900;
    text-align: center;
  }
  .semester-desc{
    text-align: left;
    padding-bottom: 0;
  }
  .sem-box{
    padding: 1em;
  }
  .title form{
    width: 100%;
  }
  .title input[type="search"]{
    width: 100%;
    
  }
  .card{
    padding: 0;
  }
  
  /* subject page */
  .content-subject h4 {
    font-size: 1.1em;
  }
  .content-code {
    font-weight: 400;
    font-size: 0.85em;
  }
  .sub-difficulty{
    justify-content: center;
    padding-left: 0.6em;
  }
  .sub-difficulty p{
    font-size: 0.75em;

  }
  .sub-difficulty .span{
    padding-top: 0.5em;
    font-size: 0.75em;
  }
  
  .difficulty .span{
    font-size: 1em;
  }
  .other-sem{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
  }

  /* for the files page */
  .sub-semester-div .top-title{
    font-size: 1.5em;
    padding-top: 0.5em;
  }
  .marks{
    font-size: 0.75em;
  }
  .note-title {
    font-size: 1.5em;
    font-weight: 90;
  }
  .sem-content {
    font-size: 1.15em;
  }
  /* single-note file */

  .single-card{
    display: block;
  }
  .file-title{
    font-size: 0.2em;
  }
  .single-card .fa{
    font-size: 1em;
  }
  .single-card h5{
    font-size: 0.9em;
  }
  .single-card i{
    font-size: 0.7em;
  }
  /* blog page */
  .time {
    justify-content: start;
  }
  .article-title {
    font-size: 0.85em;
  }
  .article-content {
    font-size: 1em;
    font-weight: 600;
  }
  /* for blog detail */
  .blog-media {
    margin: auto;
    padding: 0;
  }

  /*  foooter -part */
  .footer-title{
    font-size: 1.25em;
  }
  .footer-right p{
    font-family: var(--paragraph-font);
  }
  .quick-links ul{
    padding: 0;
    margin:0;
  }
  .social-media{
    padding: 0;
  }
}

