<!--  this file is shows the files of the certain subjects -->

{% extends "blog/base.html"%}


{%block content %}
	<div class="container">
		{% if notes %}
			<div class="content mt-2 pb-5">
				<div class=" sem-box row  d-flex justify-content-between pt-3"  >
					<div class="col-md-8 ">
						<div class="sub-semester-div col-md-12 "> 
							{% for object in notes|slice:"1"%}
							/ <a href="{% url 'csit'%}">Home</a>
								/<a href="{% url 'semester-detail' object.subject.semester.id %}"> {{object.subject.semester}}</a>
								<h1 class="top-title">{{object.subject}}</h1>
								<div class="marks">
									<p>Full Marks : {{object.subject.fullMarks}}</p>
									<p>Internal+ Lab Marks : {{object.subject.labMarks}}</p>
									<p>Code : {{object.subject.code}}</p>
								</div>
			
							{%endfor %}
						</div>
							
						<div class="note-file col-md-12 col-sm-3 p-md-3 mt-4">
							<div class="pt-md-3" id="actual-links">
								{% for object in notes %}
								{% if object.category.name == "NB" %}
								<ol class="single-card d-flex justify-content-between p-2 ">
									<div class=" d-flex col-md-10 w-100">
										<i class="fa fa-file-pdf-o pt-1" style="color: red;"></i>
										<a  href="{% url 'single-file-detail' object.subject.semester.id object.subject.slug object.slug %}" >
										<h5 class="file-title text-dark pl-2 ">{{object.name|title}}</h5>
										</a>
									</div>
									<a href="{{object.download_link}}"><i class="bi p-4 bi-download"></i></a>

								</ol>
								

								{% endif %}

								{%endfor %}
								
							</div>
						</div>
					</div>
						<!-- <div class=" col-md-12 col-xs-3  p-3 mt-3">
							
							<div class="pt-3" id="actual-links-question">
								{% for object in notes %}
								{% if object.category.name == "QC" %}
								<ol class="single-card  row d-flex align-items-center justify-content-between">
									<div class=" d-flex col-md-10 w-100">
										<i class="fa fa-file-pdf-o pt-1" style="color: red;"></i>
										<a  href="{% url 'single-file-detail' object.subject.semester.id object.subject.slug object.slug %}" >
										
										<h5 class="file-title text-dark pl-4 ">{{object.name|title}}</h5>
										
										</a>
									</div>
									<a href="{{object.download_link}}"><i class="bi p-4 bi-download"></i></a>

								</ol>

								{% endif %}
								{%endfor %}
						
							</div>
						</div>
						<div class=" col-md-12 col-xs-3  p-3 mt-3 ">
							
							<div class="pt-3" id="actual-links-syllabus">
								{% for object in notes %}
								{% if object.category.name == "S" %}
								<ol class="single-card  row d-flex align-items-center justify-content-between">
									<div class=" d-flex col-md-10 w-100">
										<i class="fa fa-file-pdf-o pt-1" style="color: red;"></i>
										<a  href="{% url 'single-file-detail' object.subject.semester.id object.subject.slug object.slug %}" >
										
										<h5 class="file-title text-dark pl-4 ">{{object.name|title}}</h5>
											
										</a>
									</div>
									<a href="{{object.download_link}}"><i class="bi p-4 bi-download"></i></a>

								</ol>
								{% endif %}
								{% endfor %}
								
							</div>
						</div>
						<div class=" col-md-12 col-xs-3  p-3 mt-3 ">
							
							<div class="pt-3" id="actual-links-answer">
								{% for object in notes %}
								{% if object.category.name == "L" %}
								<ol class="single-card  row d-flex align-items-center justify-content-between">
									<div class=" d-flex col-md-10 w-100">
										<i class="fa fa-file-pdf-o pt-1" style="color: red;"></i>
										<a  href="{% url 'single-file-detail' object.subject.semester.id object.subject.slug object.slug %}" >
										
										<h5 class="file-title text-dark pl-4 ">{{object.name|title}}</h5>
											
										</a>
									</div>
									<a href="{{object.download_link}}"><i class="bi p-4 bi-download"></i></a>

								</ol>
								{% endif %}
								{% endfor %}
								
							</div>
						</div>
					</div> -->
					<div class="right-side col-md-4">
						<!-- <div class="col-md-12 tabs p-3">
							<div class="  tab-btn" onclick="display('actual-links')">
								<h4  id="notes-tab-files">Notes</h4>
							</div>
							<div class=" tab-btn" onclick="display('actual-links-question')">
								<h4 id="notes-tab-questions"> Question Collections</h4>
							</div>
							<div class=" tab-btn"  onclick="display('actual-links-syllabus')">
								<h4 id="notes-tab-syllabus">Syllabus</h4>
							</div>
							<div class="tab-btn" onclick="display('actual-links-answer')">
								<h4 id="notes-tab-labs" >Labs</h4>
							</div>
							
						</div> -->
						<div class="other-sub col-md-12 col-xs-3 justify-content-center align-items-center">
							<h5 class="other-sub-title text-center">Other Subjects</h5>
							{% for sem in subjects %}
								<div class="list-group">
									<!-- this link will route to the individual subjects -->
									<a href= "{% url 'subject-detail' sem.semester.id sem.slug %}" class="other-sub-item single-sub text-decoration-none text-dark">{{sem.title}}</a>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		{% else %}
		<div class="center">
			<h3 class="text-center p-5"><em>Has not uploaded anything for now.</em></h3>

		</div>
		{% endif %}
	</div>
		
{% endblock content %}